body {
  font-family: Helvetica, sans-serif;
  margin-left: 20px;
  width: 100%;
  height: 100%;
  background: lightsteelblue;
}

h2 {
  text-align: center;
}

.name {
  display: inline;
  margin: 0;
  padding: 0 10px;
  justify-content: center;
}

img {
  background-color: #000000;
  border: 2px solid black;
}

