body {
  font-family: Helvetica, sans-serif;
  margin-left: 20px;
  width: 100%;
  height: 100%;
  background: beige;
}

h2 {
  text-align: center;
}

.name li {
  display: flex;
}

img {
  background-color: #000000;
  border: 2px solid black;
}

